name: Test Pedigree
on:
  push:
    paths:
    - 'robustocs/pedigree.py'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        python: ["3.10", "3.12"]
        os: ["macos-latest", "ubuntu-latest", "windows-latest"]

    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}

    - name: Install dependencies
      run: |
        python -m pip install -e .

    - name: Testing pedigree functions
      run: |
        cd examples/ped/
        python3 test.py
